*{
	box-sizing: border-box;
}

body{
	/* Background pattern from Subtle Patterns */
	background-image: url(../images/cork-wallet.png);
}

html{
	position:relative;
	min-height: 100%;
}

.bio{
	margin-bottom: 1.25em;
	margin:10px 20px 10px 10px;
}

.content{
	clear:both;
	line-height: 150%;
}

.contactForm{
	padding-left:20px;
}

.contactForm1 {
	width: 80%;
	padding: 5px 5px 5px 5px;
	color: #777777;
}

.contactForm2 {
	width: 80%;
	height: 150px;
	margin-top:20px;
	padding: 5px 5px 5px 5px;
	color: #777777;
	resize: vertical;
}

.contactlogo{
	width:50px;
	padding: 2px;
}
.contactlogo:hover{
	border: 1px solid #666666;
}

.contactSubmit {
	cursor:pointer;
	width:100px;
	border:none;
	background:#4aaaa5;
	color:#ffffff;
	margin:10px 10px 10px 10px;
	padding:10px;
	font-size:15px;
}

.contactSubmit:hover {
	background:#666666;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

.footer{
	clear: both;
	font-size: 10px;
	text-align:center;
	color:#cccccc;
	width: 960px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 5px solid #4aaaa5;
	background-color: #666666;
	position: absolute;
    bottom: 0;
}

.header1{
	float:left;
	font-size: 28px;
	font-weight: bold;
	color: #ffffff;
	margin-left:80px;
	background-color: #4aaaa5;
	padding: 12px 20px 12px 20px;
}

.header2{
	color: #4aaaa5;
	font-size: 24px;
	font-weight: bold;
	margin:10px 10px 10px 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #cccccc;
}

.header3{
	color: #4aaaa5;
	font-size: 20px;
	font-weight: bold;
	margin:10px 10px 10px 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #cccccc;
}

.header4{
	float:left;
	font-size: 18px;
	color: #ffffff;
	background-color: #4aaaa5;
	padding: 12px 0px 12px 0px;
	width: 200px;
	text-align: center;
	position: absolute;
	top:150px;
	left:20px;
}
.header4:hover{
	text-decoration: underline;
}

.headerBar{
	font-size: 28px;
	width: 960px;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	float:left;
}

.headerFont{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.leftSection{
	float: left;
	width: 650px;
	background-color:#ffffff;
	border: 1px solid #dddddd;
	margin:50px 10px 50px 10px;
	padding: 10px 10px 10px 10px;
}

.nav{
	float:right;
	font-size: 28px;
	margin-right:80px;
	padding: 10px 20px 10px 20px;
}

.navBorder{
	border-right: 1px solid #cccccc;
}

.navLinks{
	padding-right: 10px;
	padding-left:10px;
	text-decoration: none;
}
.navLinks:hover{
	text-decoration: underline;
}

.pageContainer{
	width: 960px;
	margin:0 auto;
}

.portfolio{
	width:480px;
	margin:0 auto;
}

.portfolioElement{
	padding: 10px 20px 10px 20px;
	position:relative;
	float:left;
}

.profilePic{
	float: left;
	width: 150px;
	margin:5px 20px 10px 10px;
}

.regFont{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	font-size: 16px;
	line-height: 150%;
}

.rightSection{
	float: left;
	text-align: center;
	width: 270px;
	background-color:#ffffff;
	border: 1px solid #dddddd;
	margin:50px 10px 50px 10px;
	padding: 10px 10px 10px 10px;
}


