*{
	box-sizing: border-box;
}
html{
	position:relative;
	min-height: 100%;
}
.headerFont{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}
.regFont{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	font-size: 18px;
	line-height: 150%;
}
.headerBar{
	font-size: 28px;
	width: 960px;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	float:left;
	
}
.header1{
	float:left;
	font-size: 28px;
	color: #ffffff;
	margin-left:80px;
	background-color: #4aaaa5;
	padding: 12px 20px 12px 20px;
}

.nav{
	float:right;
	font-size: 28px;
	margin-right:80px;
	padding: 10px 20px 10px 20px;
}
.navLinks{
	padding-right: 10px;
	text-decoration: none;
}
.header2{
	color: #4aaaa5;
	font-size: 24px;
	margin:10px 10px 10px 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #cccccc;
}
.header3{
	color: #4aaaa5;
	font-size: 20px;
	margin:10px 10px 10px 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #cccccc;
}
.content{
	background-color: #777777;
	clear:both;
	width: 960px;
	line-height: 150%;
}
.leftSection{
	float: left;
	width: 550px;
	background-color:#ffffff;
	border: 1px solid #dddddd;
	margin:50px 50px 50px 50px;
	padding: 10px 10px 10px 10px;
}
.bio{
	margin-bottom: 1.25em;
}
.profilePic{
	float: left;
	width: 150px;
	margin:5px 20px 10px 10px;
}
.contactlogo{
	width:50px;
}
.rightSection{
	float: left;
	text-align: center;
	width: 220px;
	background-color:#ffffff;
	border: 1px solid #dddddd;
	margin:50px 50px 50px 0px;
	padding: 10px 10px 10px 10px;
}
.contactForm{
	padding-left:20px;
}
.portfolio{
	padding-left:20px;
}
.footer{
	clear: both;
	font-size: 10px;
	text-align:center;
	color:#cccccc;
	width: 960px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 5px solid #4aaaa5;
	background-color: #666666;
	position: absolute;
    left: 0;
    bottom: 0;
}
.contactForm1 {
	width: 80%;
	padding: 5px 5px 5px 5px;
	color: #777777;
}
.contactForm2 {
	width: 80%;
	height: 150px;
	padding: 5px 5px 5px 5px;
	color: #777777;
}
